.centered{
	width : 600px;
	margin : auto;
	padding : 10px 10px 10px 10px ;
	
	border : 2px solid black;
}

.ele{
	text-align : center ;
	padding : 10px 10px 10px 10px ;
}

.centered label{
display : inline-block;
    margin: auto;
    width:200px;
	font-size : 17px;
  padding : 10px 10px 10px 10px;
  text-align : center;
  }
  
  
input,#designation{border-radius : 5px 5px 5px 5px;
  box-shadow : 2px 2px grey ;
  padding : 8px 40px 8px 20px ;
  width : 350px;
 }
 
input#male,#female,#java,#dotnet{border-radius : 5px 5px 5px 5px;
  box-shadow : 2px 2px grey ;
  padding : 8px 40px 8px 200px ;
  width : 15px;
  }

table{
	width : 100%;
	margin-top : 10px;
}
  
th {
	width:15%;
    border: 1px solid #dddddd;
    
}
